.mensaje-correcto{

    background-color: lightgreen;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 30px;
    border-radius: 5px;

}

.mensaje-error{

    background-color: lightcoral;
    color:  rgb(0, 0, 0);
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

#btnCalcular{

    border-radius: 5px;
    color: #fff;
    background-color: blueviolet;
    
}

h1,p{
    color: blueviolet;
}